*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei";
}
html, body
{
  margin:0;
  background: #fff;
  height: 100%;
  font-size: 24px;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    letter-spacing: 0;
    margin: 0px;
    padding: 0px;
}

input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; } 
.clear{clear: both;};


